<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit your page</title>
  </head>
  <body>
    <h2>Edit your page</h2>
    <p>post id : <%= post.id %></p>
    <p>post username : <%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea rows="10" cols="35" name="content"><%= post.content %> </textarea>
        <button>submit</button>
    </form>
  </body>
</html>
